<!DOCTYPE html>
<html class="mobiletest-html">
    <head>
        <title>News from all Platforms</title>

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="a news aggregator created by Tobi Okedeji for the purpose of querying news from differnt news platforms">        
        
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link href="/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/css/styo.css">
    
        <script src="/js/jquery.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
	</head>
    
    <body>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container" style="height: 70px;">
                <div class="navbar-header" style="margin-top: 10px;">
                    <a class="navbar-brand" href="http://www.tobiokedeji.com.ng/">
                        <img src="/img/me.jpg" class="text-center" style="width:50px; position:relative; top:-15px; border-radius: 50px 50px; margin-right : 50px;">
                    </a>
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                        <i class="fa fa-bars"></i>
                        <b>Other News Platforms</b>
                    </button>
                </div>
                <div class="collapse navbar-collapse" style="margin-top: 5px;" id="topNavBar">
                    <ul class="nav navbar-nav" style="margin-right: -10px;">
                        <li class="">
                            <a href="thenation" style="background-color: white;"> The Nation</a>
                        </li>
                        <li class="">
                            <a href="punch" style="background-color: white;"> Punch</a>
                        </li>
                        <li class="">
                            <a href="vanguard" style="background-color: white;"> Vanguard</a>
                        </li>
                        <li class="">
                            <a href="tribune" style="background-color: white;"> Tribune</a>
                        </li>
                        <li class="">
                            <a href="techpoint" style="background-color: white;"> Techpoint</a>
                        </li>
                    </ul>
			    </div>
            </div>   
        </nav>

        <div class="panel uniquee panel-primary" style="margin-top: 0px; margin-left: 7px; width: 97%;">
            <div class="panel-body">
                    <p>This is <strong>News from all Platforms</strong>. You are currently on <a href="{{siteInfo.siteLink}}" target="_blank">{{siteInfo.siteName}}</a>, you can please click on <strong>Other News Platforms</strong> to check on other platforms of your choice.</p>
            </div>
        </div>
        <div class="">
            <div class="panel unique panel-default" style="margin-top: 0px; margin-left: 35px; width: 95%;">
                <div class="panel-body">
                    <p>Welcome to <strong>News from all Platforms</strong>.I am Tobi Okedeji (DothJs), A Computer Programmer. I am glad that you are here. This project is one of my works on Web development. It's is a news aggregator, a place where you can get news from different news platforms. You are encouraged to make judicious use of it. You are currently on <a href="{{siteInfo.siteLink}}" target="_blank"><strong>{{siteInfo.siteName}}</strong></a>, you can please click on <strong>Other News Platforms</strong> to check on other platforms of your choice.</p>
                </div>
            </div>
        </div>

        {{{body}}}

        <div class="text-center" style="clear: both; background-color: #fff; padding: 10px; position: relative; bottom: 0px; width: 100%;">
            This is one of the works of Tobi Okedeji (DothJs), You can make use of it Judiciously as it is free.
        </div>
    </body>
</html>